/* 图片居中 */
img {
  max-height: 50vh;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}


/* 空行缩小 */
/* 引用前后 */
body {
  --animation: 0.2s ease-in;
  --hover-color: var(--text-accent);
  --blank-line-height: 0.4;
}

.is-live-preview [class="cm-active cm-line"] {
  transition: var(--animation);
}

.is-live-preview :is([class=cm-line]:has(+ :is(.HyperMD-quote, .cm-callout)), :is(.HyperMD-quote, .cm-callout) + [class=cm-line]) {
  line-height: var(--blank-line-height);
  transition: var(--animation);
  border-radius: var(--radius-s);
}

.is-live-preview :is([class=cm-line]:has(+ :is(.HyperMD-quote, .cm-callout)), :is(.HyperMD-quote, .cm-callout) + [class=cm-line]):hover {
  background-color: var(--hover-color);
}

/* 块后 */
.is-live-preview :is(.cm-line):not(:has(br))+[class=cm-line]:has(br),
:is(img)+[class=cm-line]:has(br) {
  line-height: var(--blank-line-height);
  transition: var(--animation);
  border-radius: var(--radius-s);
}